<p id="notice"><%= notice %></p>

<p>
  <strong>Org name:</strong>
  <%= @organization.org_name %>
</p>

<p>
  <strong>Org identifier:</strong>
  <%= @organization.org_identifier %>
</p>

<p>
  <strong>First name:</strong>
  <%= @organization.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @organization.last_name %>
</p>

<p>
  <strong>Addr line1:</strong>
  <%= @organization.addr_line1 %>
</p>

<p>
  <strong>Addr line2:</strong>
  <%= @organization.addr_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organization.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @organization.country %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @organization.zipcode %>
</p>

<p>
  <strong>User:</strong>
  <%= @organization.user %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
